# ==========================================
# [1] 비주얼 스튜디오 필수 개발 찌꺼기 차단
# ==========================================
.vs/
[Db]/
*.opendb
*.VC.db
*.suo
*.user
*.userosscache
*.sln.docstates

# ==========================================
# [2] 빌드 결과물 (조립 창고 및 파일 차단)
# ==========================================
bin/
obj/
*.pdb
app.publish/

# ==========================================
# [3] 외부 부품 창고 (NuGet 패키지)
# ==========================================
packages/
*.nuget.props
*.nuget.targets

# ==========================================
# [4] OS 및 기타 임시 파일
# ==========================================
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/